<section>
  <div class="container banner-section">
    <div class="row h-100">
      <div class="col h-100 d-flex align-items-end position-relative">
        <div class="banner-content">
          <h1>ZETEX</h1>
          <h2>LINEN</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container about-section section-padding">
    <div class="row flex-column-reverse flex-md-row align-items-center">
      <div class="col-6">
        <img src="assets\images\about.jpg" class="img-fluid rounded" />
      </div>
      <div class="col-6">
        <h6>WHO WE ARE</h6>
        <h2 class="mt-4">Weaving Tradition and Innovation for 35+ Years</h2>
        <p class="mt-3" style="text-align: justify">
          Welcome to Zetex Linen, a renowned textile manufacturer with a legacy
          of excellence and a commitment to quality. For over 35 years, we have
          been weaving tradition and innovation into every thread, crafting
          exceptional fabrics and textiles that touch lives. From soft
          furnishings to apparel, our products embody comfort, durability, and
          style.
        </p>
        <p class="mt-2" style="text-align: justify">
          With a passion for textile craftsmanship and a dedication to customer
          satisfaction, we continue to spin the fabric of excellence, one thread
          at a time. Today, we are a trusted partner for top brands and
          designers worldwide, delivering exceptional fabrics and textiles that
          exceed expectations.
        </p>

        <hr />
        <div class="since d-flex align-items-center">
          <div
            class="d-flex flex-column"
            style="
              background-color: #8ea9aa;
              color: #fff;
              padding: 20px;
              border-radius: 5px;
            "
          >
            <span>SINCE</span>
            <span style="font-size: 36px">1989</span>
          </div>
          <div class="ms-2 ps-2">
            <h5 style="font-weight: 600">
              Continuously Expanding and Innovating
            </h5>
            <p class="mt-2" style="text-align: justify">
              Our state-of-the-art facilities, cutting-edge technology, and
              skilled artisans come together to create a vast range of textiles,
              from luxurious apparel fabrics to durable technical textiles. We
              take pride in our commitment to sustainability, quality, and
              innovation.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container quality-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>WHY CUSTOMERS CHOOSE US</h6>
        <h2 class="mt-4">Delivering Quality and Customer Satisfaction</h2>
      </div>
    </div>
    <div class="row mt-5">
      <!-- Milestone 1 -->
      <div class="col-12 col-md-6 col-lg-4 text-center mb-4">
        <div
          class="milestone-box rounded p-4"
          style="
            background-color: #8ea9aa;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          "
        >
          <span style="font-size: 36px; font-weight: 700">100%</span>
          <p class="mt-1">Quality</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center mb-4">
        <div
          class="milestone-box rounded p-4"
          style="
            background-color: #8ea9aa;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          "
        >
          <span style="font-size: 36px; font-weight: 700">500+</span>
          <p class="mt-1">Happy Customers</p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center mb-4">
        <div
          class="milestone-box rounded p-4"
          style="
            background-color: #8ea9aa;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          "
        >
          <span style="font-size: 36px; font-weight: 700">4.8</span>
          <p class="mt-1">Rating</p>
        </div>
      </div>
    </div>
    <!-- <div
      class="row justify-content-center mt-4 rounded p-5"
      style="background-color: #8ea9aa; color: #fff"
    >
      <div class="col-3 text-center">
        <h1 style="font-size: 46px; font-weight: 700">100%</h1>
        <span>Quality</span>
      </div>
      <div class="col-3 text-center">
        <h1 style="font-size: 46px; font-weight: 700">500+</h1>
        <span>Happy Customers</span>
      </div>
      <div class="col-3 text-center">
        <h1 style="font-size: 46px; font-weight: 700">4.8</h1>
        <span>Rating</span>
      </div>
    </div> -->
  </div>
</section>
<section>
  <div class="container product-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>PRODUCTS</h6>
        <h2 class="mt-4">Innovative & High-Quality Products</h2>
        <div class="row mt-4 g-4 w-100">
          <div class="col-8">
            <div class="row g-4">
              <div class="col-12">
                <div class="card ripple-effect" routerLink="products">
                  <img src="assets/images/white-towels.jpg" class="img-fluid" />
                  <div class="typography first">
                    <h5 style="font-weight: 600">Terry Products</h5>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="card ripple-effect" routerLink="products">
                  <img src="assets\images\bedsheet.jpg" class="img-fluid" />
                  <div class="typography second">
                    <h5 style="font-weight: 600">Bedsheets</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card h-100 ripple-effect" routerLink="products">
              <img src="assets\images\garments.jpg" class="img-fluid" />
              <div class="typography third">
                <h5 style="font-weight: 600">Garments</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container certified-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>CERTIFICATIONS</h6>
        <h2 class="mt-4">Recognized by Global Standards</h2>
        <div
          class="mt-4 w-75 d-flex justify-content-between align-items-center"
        >
          <img
            width="250"
            src="assets\images\certification-1.png"
            alt=""
            class="img-fluid"
          />
          <img
            width="200"
            src="assets\images\certification-2.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container feedback-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>FEEDBACKS</h6>
        <h2 class="mt-4">What Our Partners Say</h2>
      </div>
    </div>
    <div class="row mt-4 g-4">
      <div class="col-6">
        <div
          class="card"
          style="
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: 0;
            background: rgb(142 169 170 / 20%);
          "
        >
          <div class="card-body p-5">
            <i class="bi bi-quote"></i>
            <p class="text-center">
              "Zetex Linen has transformed our collection! Their fabrics are not
              only luxurious but also sustainable. Our customers love the
              quality."
            </p>
            <hr />
            <div class="stars text-center mt-2">
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-half"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
            </div>
            <div class="text-center mt-1 d-flex flex-column">
              <strong style="font-size: 18px">Sarah Thompson</strong>
              <span style="color: #7b9293; font-size: 14px"
                >- Fashion Designer -</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card"
          style="
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: 0;
            background: rgb(142 169 170 / 20%);
          "
        >
          <div class="card-body p-5">
            <i class="bi bi-quote"></i>
            <p class="text-center">
              "Working with Zetex Linen has been a game changer. Their attention
              to detail and innovative textiles have elevated our brand."
            </p>
            <hr />
            <div class="stars text-center mt-2">
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
            </div>
            <div class="text-center mt-1 d-flex flex-column">
              <strong style="font-size: 18px">James Anderson</strong>
              <span style="color: #7b9293; font-size: 14px"
                >- Brand Manager -</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div
          class="card"
          style="
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: 0;
            background: rgb(142 169 170 / 20%);
          "
        >
          <div class="card-body p-5">
            <i class="bi bi-quote"></i>
            <p class="text-center">
              "The quality of Zetex Linen’s fabrics is unmatched. Every piece
              we’ve sourced from them has elevated our product line."
            </p>
            <hr />
            <div class="stars text-center mt-2">
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
            </div>
            <div class="text-center mt-1 d-flex flex-column">
              <strong style="font-size: 18px">Michael Carter, </strong>
              <span style="color: #7b9293; font-size: 14px"
                >- Apparel Brand Owner -</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div
          class="card"
          style="
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border: 0;
            background: rgb(142 169 170 / 20%);
          "
        >
          <div class="card-body p-5">
            <i class="bi bi-quote"></i>
            <p class="text-center">
              "Zetex Linen’s commitment to sustainability is truly inspiring.
              Their fabrics not only look good but also align with our
              eco-friendly values."
            </p>
            <hr />
            <div class="stars text-center mt-2">
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-fill"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
              <i
                class="bi bi-star-half"
                style="color: #fdcc0d; font-size: 18px"
              ></i>
            </div>
            <div class="text-center mt-1 d-flex flex-column">
              <strong style="font-size: 18px">Emily Chen</strong>
              <span style="color: #7b9293; font-size: 14px"
                >- Eco-Friendly Boutique Owner -</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container blog-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>BLOG</h6>
        <h2 class="mt-4">Explore Our Industry Expertise</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <img src="assets\images\blog-1.jpg" alt="" class="img-fluid rounded" />
        <div class="mt-3">
          <h5>
            The Evolution of Textile Industry in Pakistan: A Journey from
            Tradition to Innovation
          </h5>
          <hr />
          <span>October 15, 2021</span>
        </div>
      </div>
      <div class="col-4">
        <img src="assets\images\blog-2.jpg" alt="" class="img-fluid rounded" />
        <div class="mt-3">
          <h5>Why Quality Certifications Matter in the Textile Industry</h5>
          <hr />
          <span>August 08, 2022</span>
        </div>
      </div>
      <div class="col-4">
        <img src="assets\images\blog-3.jpg" alt="" class="img-fluid rounded" />
        <div class="mt-3">
          <h5>
            How Zetex Linen Ensures High-Quality Textile Products for Global
            Markets
          </h5>
          <hr />
          <span>November 24, 2022</span>
        </div>
      </div>
    </div>
  </div>
</section>
