<section>
  <div class="container banner-section">
    <div class="row h-100">
      <div class="col h-100 d-flex align-items-end position-relative">
        <div class="banner-content">
          <h1>ZETEX</h1>
          <h2>LINEN</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container about-section section-padding">
    <div class="row align-items-center">
      <div class="col-6">
        <img src="assets\images\about.jpg" class="img-fluid rounded" />
      </div>
      <div class="col-6">
        <h6>WHO WE ARE</h6>
        <h2 class="mt-4">From Humble Beginnings to Global Leadership</h2>
        <p class="mt-3" style="text-align: justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vitae
          vero molestias ipsa. Temporibus harum reprehenderit fuga quibusdam
          tempora minima totam, est iusto necessitatibus vero dolor, laboriosam
          iure sunt doloremque.
        </p>
        <p class="mt-2" style="text-align: justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime rem
          cum ducimus iure eos praesentium illo, quas magni ipsam ipsum sapiente
        </p>

        <hr />
        <div class="since d-flex align-items-center">
          <div
            class="d-flex flex-column"
            style="
              background-color: #8ea9aa;
              color: #fff;
              padding: 20px;
              border-radius: 5px;
            "
          >
            <span>SINCE</span>
            <span style="font-size: 36px">1989</span>
          </div>
          <div class="ms-2 ps-2">
            <h5 style="font-weight: 600">
              Continuously Expanding and Innovating
            </h5>
            <p class="mt-2" style="text-align: justify">
              We have been committed to delivering high-quality textile products
              to customers worldwide.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container quality-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>WHY CUSTOMERS CHOOSE US</h6>
        <h2 class="mt-4">Delivering Quality and Customer Satisfaction</h2>
      </div>
    </div>
    <div
      class="row justify-content-center mt-4 rounded p-5"
      style="background-color: #8ea9aa; color: #fff"
    >
      <div class="col-3 text-center">
        <h1 style="font-size: 46px; font-weight: 700">100%</h1>
        <span>Quality</span>
      </div>
      <div class="col-3 text-center">
        <h1 style="font-size: 46px; font-weight: 700">500+</h1>
        <span>Happy Customers</span>
      </div>
      <div class="col-3 text-center">
        <h1 style="font-size: 46px; font-weight: 700">4.8</h1>
        <span>Rating</span>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container product-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>PRODUCTS</h6>
        <h2 class="mt-4">Innovative & High-Quality Products</h2>
        <div class="row mt-4 g-4">
          <div class="col-4">
            <div class="card">
              <img src="assets\images\towel.jpg" class="img-fluid" />
              <div class="typography w-75">
                <h4>Towels</h4>
                <p class="mt-2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit
                </p>
                <a href=""
                  ><b class="d-flex align-items-center"
                    >Learn More
                    <i
                      class="bi bi-arrow-right ms-3"
                      style="font-size: 28px"
                    ></i></b
                ></a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="assets\images\bathrobe.avif" class="img-fluid" />
              <div class="typography w-75">
                <h4>Bathrobes</h4>
                <p class="mt-2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit
                </p>
                <a href=""
                  ><b class="d-flex align-items-center"
                    >Learn More
                    <i
                      class="bi bi-arrow-right ms-3"
                      style="font-size: 28px"
                    ></i></b
                ></a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card">
              <img src="assets\images\cotton-bag.jpg" class="img-fluid" />
              <div class="typography w-75">
                <h4>Cotton Bags</h4>
                <p class="mt-2">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit
                </p>
                <a href=""
                  ><b class="d-flex align-items-center"
                    >Learn More
                    <i
                      class="bi bi-arrow-right ms-3"
                      style="font-size: 28px"
                    ></i></b
                ></a>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-8">
                <div class="row g-4">
                  <div class="col-12">
                    <div class="card">
                      <img
                        src="assets\images\thermal-blanket.jpg"
                        class="img-fluid"
                      />
                      <div class="typography w-75">
                        <h4>Thermal Blankets</h4>
                        <p class="mt-2">
                          Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit
                        </p>
                        <a href=""
                          ><b class="d-flex align-items-center"
                            >Learn More
                            <i
                              class="bi bi-arrow-right ms-3"
                              style="font-size: 28px"
                            ></i></b
                        ></a>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="card">
                      <img
                        src="assets\images\kitchen-towel.jpg"
                        class="img-fluid"
                      />
                      <div class="typography w-75">
                        <h4>Kitchen Towels</h4>
                        <p class="mt-2">
                          Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit
                        </p>
                        <a href=""
                          ><b class="d-flex align-items-center"
                            >Learn More
                            <i
                              class="bi bi-arrow-right ms-3"
                              style="font-size: 28px"
                            ></i></b
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card h-100">
                  <img
                    src="assets\images\printed-and-embroided-towel.jpg"
                    class="img-fluid"
                  />
                  <div class="typography w-75">
                    <h4>Printed & Embroided Towels</h4>
                    <p class="mt-2">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit
                    </p>
                    <a href=""
                      ><b class="d-flex align-items-center"
                        >Learn More
                        <i
                          class="bi bi-arrow-right ms-3"
                          style="font-size: 28px"
                        ></i></b
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container certified-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>CERTIFICATIONS</h6>
        <h2 class="mt-4">Recognized by Global Standards</h2>
        <div
          class="mt-4 w-75 d-flex justify-content-between align-items-center"
        >
          <img
            width="250"
            src="assets\images\certification-1.png"
            alt=""
            class="img-fluid"
          />
          <img
            width="200"
            src="assets\images\certification-2.png"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container blog-section section-padding">
    <div class="row">
      <div class="col-12 d-flex flex-column align-items-center">
        <h6>BLOG</h6>
        <h2 class="mt-4">Explore Our Industry Expertise</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-4">
        <img src="assets\images\blog-1.jpg" alt="" class="img-fluid rounded" />
        <div class="mt-3">
          <h5>
            The Evolution of Textile Industry in Pakistan: A Journey from
            Tradition to Innovation
          </h5>
          <hr />
          <span>October 15, 2021</span>
        </div>
      </div>
      <div class="col-4">
        <img src="assets\images\blog-2.jpg" alt="" class="img-fluid rounded" />
        <div class="mt-3">
          <h5>Why Quality Certifications Matter in the Textile Industry</h5>
          <hr />
          <span>August 08, 2022</span>
        </div>
      </div>
      <div class="col-4">
        <img src="assets\images\blog-3.jpg" alt="" class="img-fluid rounded" />
        <div class="mt-3">
          <h5>
            How Zetex Linen Ensures High-Quality Textile Products for Global
            Markets
          </h5>
          <hr />
          <span>November 24, 2022</span>
        </div>
      </div>
    </div>
  </div>
</section>

