<section
  class="d-flex align-items-center"
  style="background: #8ea9aa; color: #fff; height: 30vh"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-between">
          <h1 style="font-weight: 600; font-size: 46px">Contact</h1>
          <div style="color: rgb(255 255 255 / 65%); font-size: 16px">
            Home / <span style="color: #fff; font-size: 16px">Contact</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
