<nav>
  <div class="container g-0">
    <div class="row align-items-center py-3">
      <div class="col">
        <img
          width="150"
          src="assets\images\logo.png"
          alt=""
          class="img-fluid"
          style="cursor: pointer"
          routerLink=""
        />
      </div>
      <div class="col">
        <ul class="d-flex align-items-center float-end">
          @for (item of navLinks; track item; let i = $index) {
          <li
            class="nav-links rounded"
            [class.active]="i === activeLink"
            (click)="setActiveLink(i, item)"
          >
            <a>{{ item }}</a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</nav>
